@import "_bootstrap.min";
@import "_font";

html, body {
    background-color: lightgray;
}

.card-custom-1 {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(#000, .3);
    padding: 12px;
}

.table-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
